<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, :cols => "100", :rows => "10"  %>
  </div>
    <div class="field">
    <%= f.label :tags %> - WARNING: Does not sanatize yet, avoid using.<br>
    <%= f.text_field :tags %>
  </div>
  <%= f.hidden_field :post_type, value: "Article" %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :username, value: current_user.username %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
